/java/Tema 6/Practica 2/T6P2Ej1/build/
/java/Tema 6/Practica 2/T6P2Ej4/nbproject/private/
/java/Tema 6/Practica 3/T6P3Ej22/nbproject/private/
/java/Tema 6/Practica 3/T6P3Ej21/nbproject/private/
/java/Tema 6/Practica 3/T6P3Ej21/build/