/java/Tema 6/Practica 2/T6P2Ej1/build/
/java/Tema 6/Practica 2/T6P2Ej4/nbproject/private/
/java/Tema 6/Practica 3/T6P3Ej22/nbproject/private/
/java/Tema 6/Practica 3/T6P3Ej21/nbproject/private/
/java/Tema 6/Practica 3/T6P3Ej21/build/
/java/Tema 6/Practica 3/T6P3Ej22/build/
/java/Tema 7/T7P1Ej1/nbproject/private/
/java/Tema 7/T7P1Ej1/build/
/java/Tema 8/Ejercicios/T8P1Ej1/nbproject/private/
/java/Tema 8/Ejercicios/T8P1Ej1/build/
/java/Tema 9/t9p1eJ1/nbproject/private/
/java/Tema 9/t9p1eJ1/build/
/java/Tema 8/Ejercicios/T8P1Ej2/nbproject/private/
/java/Tema 8/Ejercicios/T8P1Ej2/build/
*.mp4
/java/Tema 8/Ejercicios/T8P1Ej3/nbproject/private/
/java/Tema 8/Ejercicios/T8P1Ej3/build/
/java/Tema 8/Practica 1/T8P1Ej1/build/
/java/Tema 8/Practica 1/T8P1Ej1/nbproject/private/
/java/Tema 8/Practica 1/T8P1Ej2/build/
/java/Tema 8/Practica 1/T8P1Ej2/nbproject/private/
/java/Tema 8/Practica 1/T8P1Ej3/build/
/java/Tema 8/Practica 1/T8P1Ej3/nbproject/private/
/java/Tema 8/Practica 2/T8P2Ej1/nbproject/private/
/java/Tema 8/Practica 2/T8P2Ej1/build/
/java/Tema 8/Practica 2/T8P2Ej2/nbproject/private/
/java/Tema 8/Practica 2/T8P2Ej2/build/